html {
  font-size: 18px;
}

body.dark {
  background-color: #121212;
  color: #f9f9f9;
}

body.dark a {
  color: #f9f9f9;
}

body.light {
  background-color: #f9f9f9;
  color: #121212;
}

body.light a {
  color: #121212;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
